version: 1
services:
  - type: web
    name: portfolio-v2
    env: static
    buildCommand: npm install && npm run generate
    staticPublishPath: .output/public
    pullRequestPreviewsEnabled: true
    headers:
      - path: /*
        name: Cache-Control
        value: public, max-age=3600
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
